.nav {
  width: 100%;
  padding: 0.8rem 3vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #202940;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  margin-bottom: 2rem;
  h1 {
    color: white;
  }
}
